$color1: #110133;
$color2: #00918e;
$color3: #4dd599;
$color2l1: #60bab8;
$color2li2: #dff1f1;
$color1suave: #110133;
$headline1: 500 5.3125rem / normal Lato;
$headline2: 500 3.3125rem / normal Lato;
$headline3: 600 2.625rem / normal Lato;
$headline4: 600 1.875rem / normal Lato;
$headline5: 600 1.3125rem / normal Lato;
$subtitle1: 400 1.125rem / normal Lato;
$subtitle2: 400 0.875rem / normal Lato;
$body1: 400 1rem / normal Montserrat;
$body2: 400 0.875rem / normal Montserrat;
$button: 600 1.2rem / normal Montserrat;
$caption: 400 0.75rem / normal Montserrat;
$overline: 400 0.625rem / normal Montserrat;
