.body-comprar {
  height: 80vh;
  @include responsemax-to(768px) {
    height: auto;
  }
}

.buy--section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  align-content: center;
  height: 100%;
}

/*Select the product*/
.buy--section__product {
  max-width: 320px;
  padding: 20px;
  border-radius: 7px;
  .section--procut__Image {
    width: 100%;
    height: 150px;
  }
  select {
    background: none;
    width: 100%;
    font: $headline5;
    color: $color1;
    border-radius: 7px;
    border: 2px solid $color1;
    margin: 8px 0;
    padding: 6px;
    display: flex;
    justify-content: space-between;
  }
}

.starter-pack {
  background-image: url(.././images/image-starter-pack.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.super-pack {
  background-image: url(.././images/image-super-pack.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/*Form to buy*/
.buy--section__form {
  width: 90%;
  max-width: 320px;
  padding: 20px;
  border-radius: 7px;
}

.buy--section__form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  label {
    font: $headline5;
    color: $color2;
  }
  .data {
    width: 90%;
    height: 2rem;
    padding-left: 20px;
    border: 1px solid $color1;
    border-radius: 7px;
    box-sizing: border-box;
    &::placeholder {
      font: $body2;
      color: $color1;
      opacity: 0.7;
    }
  }
}
