/*Acá empieza en main*/
.main_section {
  background-image: url("../../assets/wave-home.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  @include response-to(768px) {
    height: 90vh;
  }
}
.main_section h1 {
  font: $headline3;
  text-align: center;
  padding-block-end: 16px;
}
/*main products*/
.main_section .products {
  display: flex;
  gap: 16px;
  width: 100%;
  padding: 20px auto;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  @include response-to(768px) {
    justify-content: space-evenly;
  }
}
