.benefit {
  padding: 0 20px;
  max-width: 340px;
  color: $color1;
}

.benefit figure {
  width: 100%;
  height: 250px;
  text-align: center;
}

.benefit h4 {
  font: $headline4;
}

.benefit p {
  text-align: justify;
  font: $body1;
}
