/*Acá inicia el nav*/
nav {
  box-sizing: border-box;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;

  background-color: white;
}

nav .brand_logo {
  text-align: center;
  img {
    height: 30px;
    @include response-to(768px) {
      height: 50px;
    }
  }
}

/*Acá inicia el menu de nav*/
.nav_options ul {
  display: none;
  @include response-to(768px) {
    display: flex;
    list-style: none;
    gap: 16px;
    font: $headline4;
    li a {
      text-decoration: none;
      color: $color1suave;
      opacity: 0.6;
    }
    li a:hover {
      opacity: 1;
    }
  }
}

/*Aca esta el menu*/
@include response-to(768px) {
  .button-menu {
    display: none;
  }
}

.button-menu {
  background: none;
  border: none;
}

.button-close {
  display: none;
}

nav .menu-icon {
  @include response-to(768px) {
    display: none;
  }
}
.nav_options--show {
  ul {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 25px;
    background-color: white;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    text-align: center;
  }
  ul > li a {
    font: $headline5;
    text-decoration: none;
    color: $color1suave;
  }
}

.button-close-show {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  font-size: 60px;
  padding-right: 30px;
  background: none;
  border: none;
  transform: rotate(45deg);
  color: $color1suave;
}
