.recomendation_section--card {
  max-width: 265px;
  text-align: center;
  padding: 10px;
  border: 4px solid $color2;
  border-radius: 7px;
  h5 {
    font: $headline5;
    text-align: center;
  }
  p {
    text-align: justify;
    font: $body2;
  }
}
